In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('santa_cruz_data.xlsx', header = 0, index_col=0)
data.head()

,Name,Team Name,City,Start Time,Swim,T1,Bike,T2,Run,Chip Elapsed,Division,Div Place,Age,Age Place,Gender,Gender Place
Bib,,,,,,,,,,,,,,,,
1039,CHRISTINA HEPPER,NaN,MORGAN HILL,09:45:00,00:14:00,00:04:15,00:36:02,00:01:20,00:23:40,01:19:20,SPRINT-AGE GROUP,25.0,53.0,O/A,F,1.0
1006,JAMIE FEND,SANTA CRUZ TRIATHLON ASSOCIATION,APTOS,09:45:00,00:15:14,00:04:14,00:38:08,00:01:20,00:22:48,01:21:46,SPRINT-AGE GROUP,32.0,46.0,O/A,F,2.0
1112,ALEXANDRA LUZI,NaN,SAN FRANCISCO,09:45:00,00:12:50,00:06:41,00:38:04,00:01:48,00:22:44,01:22:08,SPRINT-AGE GROUP,35.0,30.0,O/A,F,3.0
1030,SUMI HACHMANN,TEEM SHEEPER,MENLO PARK,09:45:00,00:14:16,00:04:40,00:38:36,00:01:11,00:23:56,01:22:40,SPRINT-AGE GROUP,37.0,39.0,1,F,4.0
946,DENISE BUTLER,NaN,MOUNTAIN VIEW,09:45:00,00:12:34,00:04:37,00:40:08,00:00:49,00:24:46,01:22:56,SPRINT-AGE GROUP,39.0,34.0,1,F,5.0